%table
  %thead
    %th{colspan: 5}
      %h2.center-text Classes

  %tr
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
  %tr
    %td
      - @courses.each do |x|
        - (x.times_on 'Monday').each do |i|
          %p= "#{i.print_times} #{x.name} #{x.room.name}"
    %td
      - @courses.each do |x|
        - (x.times_on 'Tuesday').each do |i|
          %p= "#{i.print_times} #{x.name} #{x.room.name}"
    %td
      - @courses.each do |x|
        - (x.times_on 'Wednesday').each do |i|
          %p= "#{i.print_times} #{x.name} #{x.room.name}"
    %td
      - @courses.each do |x|
        - (x.times_on 'Thursday').each do |i|
          %p= "#{i.print_times} #{x.name} #{x.room.name}"
    %td
      - @courses.each do |x|
        - (x.times_on 'Friday').each do |i|
          %p= "#{i.print_times} #{x.name} #{x.room.name}"