%h2.center-text= @user.name

= @user.user_image

%p
  %b Dob:
  = @user.dob

%p
  %b Address:
  = @user.address

%p
  %b Balance:
  = number_to_currency @user.balance

%br
%br
- if can? :manage, :all
  %p
    %b Role:
    = @user.role

- if @courses && @courses.count > 0
  - @courses.each do |x|
    = render 'courses/schedule', schedules: x.schedules, title: x.name

= link_to 'Edit', edit_student_path(@student), class:'button'
= link_to 'Back', students_path, class:'button'
