= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %label{for: 'user[dob]'} Date of Birth:
    %input{type:'date', name:'user[dob]'}
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :user_image
    = f.file_field :user_image
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  - if current_user && current_user.role =='admin'
    .field
      %label{for:'user[role'} Role:
      %select{name:'user[role]'}
        %option{value:'student'} Student
        %option{value:'teacher'} Teacher
        %option{value:'admin'} Admin

  .actions.center-text
    %br
    %br
    - if !current_user
      = f.submit 'Apply', class:'button'
    - else
      = f.submit 'Save', class:'button'
    = link_to 'Back', users_path, class:'button'
