%h2.center-text= @user.name

%p.center-text
  = image_tag @user.user_image

%p.center-text
  %b Dob:
  = @user.dob

%p.center-text
  %b Address:
  = @user.address

%p.center-text
  %b Balance:
  = number_to_currency @user.balance

- if can? :manage, :all
  %p.center-text
    %b Role:
    = @user.role

- if @courses && @courses.count > 0
  - @courses.each do |x|
    = render 'courses/schedule', schedules: x.schedules, title: x.name
    %br
    %br

%p.center-text
  = link_to 'Edit', edit_user_path(@user), class:'button'
  = link_to 'Back', "/#{@user.role}s", class:'button'

