= form_for @teacher do |f|
  - if @teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - @teacher.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :address
    = f.text_field :address
  .field
    %label{for: 'user[dob]'} Date of Birth:
    %input{type:'date', name:'user[dob]'}
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :user_image
    = f.file_field :user_image
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password

    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    %input{type:'hidden', name:'user[role]', value:'teacher'}
  .actions
    = f.submit 'Save'
