= nested_form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .large-6.columns
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :description
      = f.text_area :description
    .field
      = f.label :price
      = f.text_field :price
    .field
      = f.label :teacher_id
      = f.collection_select :teacher_id, User.teachers, :id, :name
    .field
      = f.label :course_image
      = f.file_field :course_image
  .large-6.columns{style:'height:490px;overflow:auto'}
    .field
      = render 'schedules_fields', f: f
    .actions
      %br
      %br
      = f.submit 'Save', class:'button'
