%table{style:'margin:auto'}
  %thead
    %th.center-text{colspan: 5}
      %h2= title
      %p= dates

  %tr
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday

  %tr
    - ['Monday', 'Tuesday','Wednesday','Thursday','Friday'].each do |weekday|
      %td
        - (schedules.select { |x| x.time_slot.day == weekday }).each do |x|
          = "#{x.time_slot.print_times} #{x.room.name}"
          %br
          %br