%h1.center-text= @course.name

%p.center-text
  = image_tag @course.course_image


%h3.center-text Dates:
%p.center-text= "#{@course.schedules.first.start_date.strftime('%B %-d %Y')} to #{@course.schedules.first.end_date.strftime('%B %-d %Y')}"

%h3.center-text Description:
%p.center-text= @course.description


%h3.center-text Teacher:
%p.center-text= @course.teacher.name


%h3.center-text Price:
%p.center-text= number_to_currency @course.price

= render 'schedule', schedules: @course.schedules, title: 'Schedule'

- if current_user && (@course.teacher_id == current_user.id) || (can? :manage, :all)
  = render 'students'

%p.center-text
  %br
  %br
  - if !(@course.full?) && current_user && current_user.can_add_course(@course)
    = link_to 'Sign Up', "/signup/#{@course.id}", class:'button'
  - else
    = link_to 'Apply', '/apply', class:'button'
  = link_to 'Back', courses_path, class:'button'
