%h1.center-text= @course.name

%p.center-text
  = image_tag @course.course_image


%h3.center-text Dates:
%p.center-text= "#{@course.schedules.first.start_date.strftime('%B %-d %Y')} to #{@course.schedules.first.end_date.strftime('%B %-d %Y')}"

%h3.center-text Description:
%p.center-text= @course.description


%h3.center-text Teacher:
%p.center-text= @course.teacher.name


%h3.center-text Price:
%p.center-text= number_to_currency @course.price

= render 'schedule', schedules: @course.schedules, title: 'Schedule', course: @course

= render 'conditionals', course: @course
