%h1.center-text= @course.name

%p.center-text
  = image_tag @course.course_image


%h3.center-text Dates:
%p.center-text= @course.dates

%h3.center-text Description:
%p.center-text= @course.description


%h3.center-text Teacher:
%p.center-text= @course.teacher.name


%h3.center-text Price:
%p.center-text= number_to_currency @course.price

= render 'schedule', schedules: @course.schedules, title: 'Schedule', course: @course, dates: @course.dates

= render 'conditionals', course: @course
