%p#notice= notice

%h1.center-text= @course.name

= @course.course_image

%h3.center-text Description:
%p.center-text= @course.description

%p.center-text
  %b Teacher:
  = @course.teacher.name

%p.center-text
  %b Price:
  = number_to_currency @course.price

= render 'schedule'

/ = link_to 'Edit', edit_course_path(@course), class:'tiny button'
%p.center-text
  - if !(@course.full?)
    = link_to 'Sign Up', "/signup/#{@course.id}", class:'tiny button'
  = link_to 'Back', courses_path, class:'tiny button'
