%nav.top-bar
  %ul.title-area
    %li.name 
      %h1
        %a= link_to 'General Assembly', '/'
  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        %a= link_to 'Teachers', '/teachers'
      %li.divider
      %li
        %a= link_to 'Courses', '/courses'
      - if can? :manage, :all
        %li.divider
        %li
          %a= link_to 'Students', '/students'
        %li.divider
        %li
          %a= link_to 'Rooms', '/rooms'
    %ul.right
      %li.divider
      - if current_user
        %li
          = link_to 'Dashboard', "/dashboard"
        %li.divider
        %li
          %a= "Logged In As #{current_user.name}"
        %li.divider
        %li
          = link_to 'Log Out', '/logout'
      - else
        %li.has-dropdown
          %a Log In
          %ul.dropdown.log-in
            = form_tag sessions_path do
              = label_tag :username
              = text_field_tag :username

              = label_tag :password
              = text_field_tag :password
              %br
              = submit_tag 'Log In', class: 'btn'
          